@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary: #D4AF37;
    --color-background-light: #FFF9F6;
    --color-background-dark: #1A1A1A;
    --color-accent: #F2D7D5;

    --font-script: "Great Vibes", cursive;
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Montserrat", sans-serif;

    --radius: 8px;
}